<!DOCTYPE html>
<html>
  <head>
    <title>Financial Health</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Financial Health</h1>
    <p>Index Financial Health</p>

	<a href="/">Home</a>
	<a href="/login">Login</a>
	<a href="/cadastro">Cadastrar</a>

  </body>
</html>
